/* Estilização do formulário */
#cadastrar-usuarios-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cadastrar-usuarios-form textarea {
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
    padding: 10px;
}

#userRoleDropdown{
margin-bottom: 20px;

}


#cadastrar-usuarios-form input[type="password"],
#cadastrar-usuarios-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: -5px;
}

#cadastrar-usuarios-form label {
    display: inline-block;
    margin-bottom: 20px;
}

/* Barra de progresso */
#progress-bar {
    width: 100%;
}